html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: white;
}

html[theme-mode="dark"] {
  background: #242424;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.searchInputWrapper {
  padding: 10px;
}

footer {
  margin-top: 10vh;
}

img[lazy=loading]{
  background-image: url("../loading.svg");
  background-repeat: no-repeat;
  background-size: 100%;

}
